<p><b>Hello! Welcome to Battleships</b></p>
<p><b>New Game? Enter your name below:</b></p>

<w% name %>
<form action="/" method="post">
  What's your name?
  <input type="text" name="name">
  <input type="submit" id="submit">
</form>